html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table-container {
  padding-top: 60px;
}

.productos-table {
  border-collapse: collapse;
  width: 100%;
}
