/* AddClientes.css */

.add-client-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: flex-start;
  }
  
  .add-client-form {
    width: 80%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2{
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  
  table {
    width: 90%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-size: 1.2em;
  }
  
  td label {
    display: block;
    margin-bottom: 5px;
    width: 30%;

  }
  .td-izq{
    display: block;
    margin-bottom: 5px;
    width: 30%;
  }

  .td-der{
    display: block;
    margin-bottom: 5px;
    width: 70%;
  }


  input[type="text"], input[type="password"], select {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  .buttons-container {
    margin-top: 20px;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancel-button {
    background-color: #C85859;
    color: white;
  }
  
  .save-button {
    background-color: #4CAF50;
    color: white;
  }
  