.Formulario-Cliente {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  ;
}

.Encabezado {
  text-align: center;
}

.Clientes {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h3 {
  margin-top: 0cm;
  text-align: left;
  padding: 5px;

}

.Datos-del-usuario {
  display: block;
  padding: 1%;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

.Datos-de-contacto {
  display: block;
  padding: 1%;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

.Datos-financieros {
  display: block;
  padding: 1%;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

.Datos-de-ubicacion {
  display: block;
  padding: 1%;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

.Clientes input,
select {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: auto;
}

.form-group {
  display: flex;
  padding: 1%;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  width: 100%;
}

.grupo1,
.grupo2,
.grupo3,
.grupo4 {
  display: flex;
}

select,
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 85%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 16px;
}

h2 {
  margin-top: 0cm;
  text-align: center;
}

label {
  padding: 10px;
}

.Cancelar-y-Guardar {
  margin-top: 30px;
  text-align: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px;
  font-size: 16px;
}

button:hover {
  opacity: 0.8;
}

.Cancelar {
  background-color: #C85859;
  color: white;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.Guardar {
  background-color: #4CAF50;
  color: white;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}