.IngresarProductos {
    display: flex;
    flex-direction: column;
    padding-top: 22px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.Cuadro{
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.barraSuperior {
  border-radius: 7px;
}

.CyG {
    margin-top: 20px;
}

.Cancel {
    background-color: #C85859;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* removed border for a cleaner look */
  }
  
  .Save {
    background-color: #4CAF50;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* removed border for a cleaner look */
  }

  tbody {
    background-color:rgb(255, 255, 255);
  }

input[type="number"]{
    width: 85%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 16px;
}