/* HISTORIAL DE COMPRAS */
.Principal{

    padding: 20px;
    margin: 0 auto;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    margin-bottom: 20px;
  }


.containerVP {
    width: 80%;
    margin: 0 auto;

    padding-top: 20px;
    
  }
  
  .barraSuperior {
    display: flex;
    padding:1%;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    
  }
  
  .barraSuperior input {
    
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: auto;
  }
  
  .barraSuperior button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5%;;

  }

  .tabla{
    text-align: center;
  }


/*
.Cancel{

    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }

  .Save{

    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
*/

.Busqueda{
    padding: 8px;
    color: black;
    border-radius: 4px;
    margin-right: auto;
}
  .Save{

    padding: 8px 16px;
    background-color: #A5DA8C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }

  .Cancel {

    padding: 8px 16px;
    background-color: #C85859;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;

  }


  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }

  h2 {
    margin-top: 0cm;
  }