body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
}

#Div {
    background-color: rgba(214, 214, 214, 0.8);
    /* Fondo blanco con transparencia */
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    max-width: 80%;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.PESOP {
    text-align: center;
}

.pluma {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 20px;
}

.Resumen,
.pluma2 {
    margin-top: 0px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.ResumenEncabezado {
    font-size: 2rem;
    color: #ffffff;
    background-color: #0057b385;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.pluma2Encabezado {
    font-size: 2rem;
    color: #ffffff;
    background-color: #0057b385;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 0px;
    font-weight: bold;
    text-align: center;
}

.Total-pPluma,
.Total-Proveedores,
.Total-Compras,
.pPluma,
.Proveedores,
.CliPluma,
.Cotizar,
.ventasPL,
.Compras,
.Closn {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 15px;
    text-align: center;
    vertical-align: top;
    padding: 0px 20px;
    background-color: #b2b4b6;
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s;
}

.Total-pPluma:hover,
.Total-Proveedores:hover,
.Total-Compras:hover,
.pPluma:hover,
.Proveedores:hover,
.Cotizar:hover,
.CliPluma:hover,
.Compras:hover,
.ventasPL:hover,
.Closn:hover {
    transform: scale(1.05);
    background-color: #babfc2;
}

.Total-pPluma,
.Total-Proveedores,
.Total-Compras {
    font-size: 1.2rem;
    font-weight: bold;
    color: #34495e;
    padding: 20px;
}

.pPluma,
.Proveedores,
.CliPluma,
.Cotizar,
.Compras,
.ventasPL,
.Closn {
    height: 150px;
    font-size: 1.2rem;
    color: #2c3e50;
    margin-right: 20px;
}

.pPluma:hover,
.Proveedores:hover,
.CliPluma:hover,
.Cotizar:hover,
.Compras:hover,
.ventasPL:hover,
.Closn:hover {
    cursor: pointer;
}

.FaShoppingCart .FaShop,
.BsFillBriefcaseFill,
.FaPeopleGroup,
.FaCoins,
.IoExit {
    font-size: 100px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.pPluma span,
.Proveedores span,
.CliPluma span,
.Cotizar span,
.Compras span,
.ventasPL span,
.Closn span {
    display: block;
    margin-top: 10px;
}


.pluma2 {
    display: flexbox;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}