.cuerpologat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;

}

.logat {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 30px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 10px #000;

    /*

    */
}

.logat:hover {
    background-color: #000;
    color: #f8f9fa;
    border: 1px solid #000;
}

.logat:focus {
    outline: none;
}

.logat h1 {
    margin: 0;
    text-align: center;
}

.logat h2 {
    margin: 0;
    text-align: center;
    font-weight: bold;
    color: #396479;
}

.botonesl {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
}

.botonesl button {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.botonesl button:hover {
    background-color: #396479;
    color: #f8f9fa;
    border: 1px solid #000;
}