.contenedor {

    position: fixed;

}

main {
    width: 100%;
    padding: 20px;
}

.sidebar {
    height: 100vh;
    background: #333;
    color: #fff;

    width: 300px;
    transition: all 0.5s;
    overflow: auto;

}

.top {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo {
    font-size: 23px;
}

.bars {
    display: flex;
    font-size: 25px;
    cursor: pointer;
    margin-left: auto;
}

.link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;

}

.link:hover {
    background: #555;
    color: #fff;
    transition: all 0.5s;

}

.active {
    background: #555;
    color: #fff;

}

.icon,
.link_text {
    font-size: 20px;
}

h2 {
    margin-top: 0cm;
}

.Usuario {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: center;
    font-style: italic;
}

.Tipo {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
    font-variant: normal;
}